@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Playfair Display", sans-serif;
  background-color: #fff7ed;
  overscroll-behavior: none;
}
#heading {
  font-family: "Playfair Display", serif;
}
#oneStopSolutionGrid {
  /* background-color: #262626; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  /* margin-right: 5%;
  margin-left: 5%; */
  /* column-gap: 3%; */
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
  /* color: white; */
  justify-content: center;
  align-items: center;
  place-items: center;
}

.gridElementOneStop {
  font-size: 1.25rem;
  display: flex;
  border-radius: 10px;
  /* background-color: #262626; */
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

#groupConsultationWhiteBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}
#expertConsultationBlackBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}
#bookingassistanceWhiteBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}

#faq {
  margin-left: 15%;
  margin-right: 15%;
}
.pyy-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pxx-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.faqBox {
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 720px) {
  #oneStopSolutionGrid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 2px;
    margin-left: calc(50vw - 156px);
    margin-right: calc(50vw - 156px);
  }
  #oneStopSolutionGrid .gridElementOneStop:nth-child(3) {
    grid-column: span 2;
  }
  .smallLink {
    padding: 0.25rem;
    padding-left: 2px;
    padding-right: 2px;
  }
  #titlee {
    font-size: 2rem;
  }
  #mainPageHome {
    grid-template-columns: 1fr;
  }
  /* #stockImages {
    display: none;
  } */
  #groupConsultationWhiteBox {
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #groupConsultationWhiteBoxExtra {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  #expertConsultationBlackBox {
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #expertConsultationBlackBoxExtra {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  #bookingassistanceWhiteBox {
    box-sizing: border-box;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  #bookingassistanceWhiteBoxExtra {
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 720px) {
  #oneStopSolutionGrid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 7px;
  }
  /* #oneStopSolutionGrid .gridElementOneStop:nth-child(4) {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  #oneStopSolutionGrid .gridElementOneStop:nth-child(5) {
    grid-column: 2 / span 2;
    grid-row: 2;
  } */
  #titlee {
    font-size: 2rem;
  }
  .smallLink {
    padding: 0.123rem;
  }
}
