@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

body {
  font-family: "Playfair Display", sans-serif;
  background-color: #fff7ed;
  overscroll-behavior: none;
}
#heading {
  font-family: "Playfair Display", serif;
}
#oneStopSolutionGrid {
  /* background-color: #262626; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  /* margin-right: 5%;
  margin-left: 5%; */
  /* column-gap: 3%; */
  margin-left: 12.5%;
  margin-right: 12.5%;
  text-align: center;
  /* color: white; */
  justify-content: center;
  align-items: center;
  place-items: center;
}

.gridElementOneStop {
  font-size: 1.25rem;
  display: flex;
  border-radius: 10px;
  /* background-color: #262626; */
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

#groupConsultationWhiteBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}
#expertConsultationBlackBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}
#bookingassistanceWhiteBox {
  box-sizing: border-box;
  margin-left: 15%;
  margin-right: 15%;
  padding-right: 15px;
  padding-left: 15px;
}

#faq {
  margin-left: 15%;
  margin-right: 15%;
}

.faqBox {
  padding-left: 15px;
  padding-right: 15px;
}
